h1{
    text-align: center;
    padding: 1cm;
}
body{
    background-color: lightgray;
    width: 100%;
}

.selector{
    text-align: center;
    
} 
.selection{
    cursor: pointer;
    margin-bottom: 5%;
}

.selection:hover{
color: brown;
transform: scale(1.1);
transition: 100ms;
}
.selector button{
   width: 10%;
   height: 10%; 
}

img{
    width: 20%;
    height: auto;
    margin-bottom: 5%;
    margin-left: 20%;
}
    
.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 5%;
}

.result-selection{
  color: brown;
}

.result-selection-winner{
 color: black;
 font-size: 1.5rem;
}

.victoryScreen,.lossScreen{
    position: absolute;  
    visibility: hidden;
}

.victoryScreen, .lossScreen{
    background-color: white;
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    font-size: 30px;
      
}

.restart button{
   position: absolute;
   display: flex;
   justify-content: center;
   text-align: center;
   bottom: 15%;
   left: 44%;
}

.startscreen{
    background-color: white;
    position: absolute;
    width: 60%;
    height: relative;
    justify-content: center;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 19%;
    text-align: center;
}
.startscreen p{
    width: 30%;
    position: relative;
    padding-bottom: 1%;
    justify-content: center;
    display: flex;
}


